/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require bootstrap-datetimepicker
 *= require_tree .
 */

body { 
  font-family: 'Lato', sans-serif;
  padding-top: 70px; 
  background-image: url("bg.jpg");
}

img {
  max-width:100%;
}

.navbar-inverse,
.navbar-nav>li>a {
  color: gold;
}

a.navbar-brand,
a:visited.navbar-brand,
a.imgold,
a:visited.imgold {
  color: gold;
}

a.navbar-brand {
  color: gold;
}

a:visited.navbar-brand {
  color:gold;
}

.subtitle {
  color: gold;
  margin: 0 auto;
  text-align: center;
  background-color: #3548d8;
  padding: 1px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.btn-primary {
  margin-top: 15px;
}

.btn-warning {
  float: right;
}

a.btn {
  color: #fff;
}

a:visited.btn{
  color: #fff;
}

.well {
  margin-top: 100px;
}

.themap {
  width: 50%;
  margin-bottom: 50px;

}

.partecipants {
  list-style-type: none;
  float: right;
  width: 50%;
}

.logo-container img {
  display:block;
  margin: 0 auto;
  width:50%;
  margin-bottom: 20px;
}

.first {
  color:red;
}



.form-horizontal {
  margin-left: auto;
 margin-right: 100px;
 top: 10;
 position: fixed;
 border: black;
 border-style: solid;
 background: white;
 border-radius: 10px;
 padding: 20px;
 left: 20%;
 top: 40%;
 background: url("file://Users/makerslaptop82/Desktop/Screen Shot 2015-05-12 at 13.10.31.png") repeat;
}

.control-group {

}
